doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Books
    link(rel='stylesheet', href='css/index.css')
    script(src="https://kit.fontawesome.com/6067a7f405.js")
    
  body
      .header
        .header_brand
            h1.header_brand Books
        .header_users
          .header_user
            h1.header_user #{nickname}
          if isAdmin
            a.header_register-post(href='/post') 글쓰기
          a.header_logout-button(href='/auth/logout') Log Out
      .body
        each book in books
          .book(id=book._id)
            .book_title= book.title
            .book_info-box
              .book_author-box
                span.book_author-q 지은이
                span.book_author= book.author
              .book_publisher-box
                span.book_publisher-q 출판사
                span.book_publisher= book.publisher
      .page
        - for(let n = 1; n <=totalPage; n++)
          .page_number=n
      script(src='javascript/index.js')